{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
			<div class="col-lg-6 text-center">
                {{ with .Params.image }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
			</div>
			<div class="col-lg-6 text-center">
                {{ with .Params.image2 }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
            </div>
	    </div>
		
        <div class="row">
            <h1>{{ .Title }}</h1>       
		</div>	
		
		<div class="row">
			<div class="col-lg-8">			
				<div class="post-single-content">
					{{ .Content }}
					{{ if .Site.Data.blog.sharing}}
						{{ partial "share_post" . }}
					{{ end }}
					{{ partial "post_comments" . }}
				</div>
			</div>
			<div class="col-lg-4 text-center">
				<p> deste lado caracteristicas estilo madeira:criptomeria, comprimento:43cm, etc. em baixo botão de contactar e talvez de voltar </p>
			</div>
		</div>
		

    </div>
</section>

{{ end }}
